<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/" class="navbar-brand">KaKi . Tech</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home" ><i class="fa fa-home"></i> Home</a></li>
            <li><a ui-sref="about" ><i class="fa fa-shield"></i> About</a></li>
            <li><a ui-sref="contact" ><i class="fa fa-comment"></i> Contact</a></li>
        </ul>
    </nav>
  </div>
</header> 