<div class="jumbotron text-center">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>  

    <h4>{{ message }}</h4>
    <a ui-sref="home.list" class="btn btn-primary">List</a>
    <a ui-sref="home.paragraph" class="btn btn-danger">Paragraph</a>
</div>

<div ui-view></div>

<div class="test">
	<h3>Test styles from modules</h3>
</div>
